.ex1 {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    margin: 50px;
}
 
.ex1 article {
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0.3;  /* 배경색의 불투명도 지정*/
}

.ex1:nth-of-type(1) article {
    transform: scale(1.3);  /*요소를 1.3배 확대*/
}
.ex1:nth-of-type(2) article {
    transform: skewX(20deg); /*요소를 20도만큼 비틈*/
}
.ex1:nth-of-type(3) article {
    transform: translateY(50px); /*요소를 50px만큼 오른쪽으로 이동*/
}
.ex1:nth-of-type(4) article {
    transform: rotate(45deg); /* 요소를 45도만큼 회전*/
}


.ex2 {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    margin: 50px;
    perspective: 400px; /* 원근감을 지정*/
}

.ex2 article {
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0.3;  /* 배경색의 불투명도 지정*/
}


.ex2:nth-of-type(5) article {
    transform: rotateX(45deg); /*X축으로 45도 회전*/
}
.ex2:nth-of-type(6) article {
    transform: rotateY(45deg); /*Y축으로 45도 회전*/
}
.ex2:nth-of-type(7) article {
    transform: translateZ(100px); /*Z축으로 100px만큼 이동*/
}
.ex2:nth-of-type(8) article {
    transform: translateZ(-100px); /*Z축으로 -100px만큼 이동*/
}

.ex3 {
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    float: left;
    margin: 100px;
    perspective: 600px; /* 원근감을 지정*/
}

.ex3 article {
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0.3;  /* 배경색의 불투명도 지정*/
}

.ex3:nth-of-type(9) article {
    transform: rotateY(120deg); 
    transform-origin: center center;
}
.ex3:nth-of-type(10) article {
    transform: rotateY(120deg); 
    transform-origin: right center;
}