article:nth-of-type(1) {
    width: 500px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 50px;
    margin: 50px auto;
}

article:nth-of-type(1)  svg {
    width: 100%;
}

article:nth-of-type(1)  svg path {
    fill: transparent;
    stroke: blue;
    stroke-width: 1;
    stroke-dasharray: 1566;
    stroke-dashoffset: -1566;
    transition: all 3s;
}

article:nth-of-type(1):hover svg path {
    stroke-dashoffset: 0;     
}

/* ======= */

article:nth-of-type(2)  {
    width: 500px;
    border: 1px solid #000;
    box-sizing: border-box;
    padding: 50px;
    margin: 50px auto;
}

article:nth-of-type(2)  svg {
    width: 100%;
}

article:nth-of-type(2)  svg path {
    fill: transparent;
    stroke: green;
    stroke-width: 1;
    stroke-dasharray: 1566;
    stroke-dashoffset: -1566;
    animation: ex 5s linear infinite;
}

@keyframes ex {        
    0% {
      stroke-dashoffset: 1566; 
    }
    50% {
      stroke-dashoffset: 0;  
    }
    100% {
      stroke-dashoffset: -1566;
    }
  }