* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
} /*모든 요소들은 기본적인 margin 과 padding 를 가지고 있어서 그걸 초기화 시켜줌*/

ul {
    list-style: none; 
    /* 기본적으로 있는 점을 제거 */
}

a {
    text-decoration: none;
    /* 텍스트에 밑줄 제거 */
}

#header {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

#header .inner {
    position: relative; /* 이 속성을 사용하면 원래 위치에서 상대적으로 이동*/
    width: 1180px;
    height: 80px;
    margin: 0px auto;
}

#header .inner h1 {
    position: absolute; /* 이 속성을 사용하면 레이아웃의 흐름과 관계없이 설정함*/
    left: 0px;
    bottom: 15px;
}

#header .inner h1 a{
   color: wheat;
}

#header .inner #gnb {
   position: absolute;
   bottom: 0px;
   right: 0px;
}

#header .inner #gnb li{
    float: left;
}

#header .inner #gnb li a{
    display: block;
    font: bold;
    font-size: 24px;
    line-height: 1px;
    color: #555;
    padding: 20px 40px;
    transition: all 0.5s; /*해당 스타일 속성의 변화가 0.5초동안 부드럽게 진행*/
}

#header .inner #gnb li a:hover{
    background: #000;
    color: #fff;
}

#header .inner #util {
    position: absolute;
    top: -20px;
    right: 30px;
}

#header .inner #util li {
    float: left;
}

#header .inner #util li a{
    display: block;
    font: 12px/1 "arial";
    color:  #999;
    padding: 0px 10px;
}



