* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  /*모든 요소들은 기본적인 margin 과 padding 를 가지고 있어서 그걸 초기화 시켜줌*/

body {
    font-family: Arial, sans-serif;
    /*사용하려는 글꼴┘     └ 사용하려는 글꼴이 없으면 이 글꼴이 설정
            텍스트의 글꼴을 설정  
    */
    background-color: #f2f2f2;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#login {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}


label {
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    /* 마우스 커서가 요소 위로 올라갔을 때 마우스 커서 모양을 손가락 형태로 변환  */
}

a {
    text-decoration: none;
    color: #007bff;
    margin-top: 10px;
    display: inline-block;
    /* 요소를 인라인과 블록 요소의 특성을 모두 가지도록 함 */
}